body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

main {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

#count {
  font-size: 48px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

button:active {
  background-color: #0062cc;
}
