.box {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background-color: black;
  display: grid;
  place-content: center;
  margin-left: -200px;
  transition: margin-left 1s;
}

.left {
  margin-left: 200px;
}

body {
  margin: 0;
  padding: 50px;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
